COMPOSE_PROJECT_NAME="its"

# Pointer to the root directory to be mounted in all containers as /home/
USER_BASE_FOLDER='./sample_user_base_folder'


# ----------------------------------------------------
#       **** Advanced configuration ****
#
#   DON'T CHANGE UNLESS YOU KNOW WHAT YOU ARE DOING.
#
# ----------------------------------------------------
#
# If you have followed the installation guidelines, 
# please leave the following lines unchanged.

# Pointer to the config base folder inside USER_BASE_FOLDER. 
# Path must be relative to USER_BASE_FOLDER.
CONFIG_PATH=config

# PYTHONPATH within the container
PYTHONPATH='/home' # list of paths, separated by ':'

# NodeJS and NodeJS+Vite exposed ports
NODEJS_EXPOSED_PORTS=3000-3099

# PostgreSQL service configuration
POSTGRESQL_EXPOSED_PORT=5432 # service available at localhost:<THIS_PORT>

# PGAdmin service configuration
PGADMIN_EXPOSED_PORT=8000 # service available at localhost:<THIS_PORT>

# Auto-mapped ports to allow user installation of additional services
# Any service installed in the 'dev' container on port N in this range will be
# exposed to the host on the same port.
AUTO_MAPPED_PORTS=10000-10099