@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pliant:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
  max-width: 100%;
}

header {
  max-width: 100%;
  padding: 0em 2em;
}

main {
    max-width: 1200px;
}

section {
    margin: 1em 0em 2em;
    padding: 2em;
}

article {
    margin-top: 1em;
    margin-bottom: 2em;
}

h1,
h2,
h3 {
    margin-bottom: 0.7em;
}

p {
    margin-bottom: 0.8em;
}

footer {
    padding: 2em;
}

label {
    margin-right: 0.8em;
    margin-bottom: 0.8em;
}

ul > li > a {
    text-decoration: none;
}

ul > li {
    list-style: none;
}

form > fieldset {
  margin: 1.3em 0.8em;
  padding: 1em;
  border-radius: 5px;
  border: 2px solid black;
}

#nav-section {
    display: flex;
    align-items: center;
    gap: 2em;
}

#logo {
    max-width: 10rem;
    max-height: 5rem;
    background-size: cover;
}

#menu-navs {
    display: flex;
    justify-content: space-between;
}

.field-thumbnail {
    max-width: 20rem;
    max-height: 12rem;
    background-size: cover;
}

input[type="submit"], input[type="reset"] {
  padding: 0.2em 0.3em;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid black;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  transform: scale(1.03);
  transition: all 300ms;
}